<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create poll</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <div class="container my-5">
        <h1>Create your poll here</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="question" class="form-label">Enter Your question here</label>
              <input type="text" class="form-control" id="question" name='question' aria-describedby="emailHelp" required>

              <label for="answer" class="form-label">Enter Your answer here</label>
              <input type="text" class="form-control" id="answer" name='answer' aria-describedby="emailHelp" required>

              <label for="op1" class="form-label">Option 1</label>
              <input type="text" class="form-control" id="op1" name='op1' aria-describedby="emailHelp" required>
            
              <label for="op2" class="form-label">Option 2</label>
              <input type="text" class="form-control" id="op2" name='op2' aria-describedby="emailHelp" required>
            
              <label for="op3" class="form-label">Option 3</label>
              <input type="text" class="form-control" id="op3" name='op3' aria-describedby="emailHelp" required>
            
              <label for="op4" class="form-label">Option 4</label>
              <input type="text" class="form-control" id="op4" name='op4' aria-describedby="emailHelp" required>
            
            
            </div>

            
            <input type="submit" value="Submit">
          </form>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>