{% extends 'base.html' %}
{% block title %}Location{% endblock title %}

{% block location %}active{% endblock location %}

{% block body %}

<main class="flex-shrink-0">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Our Location</h1>
      <p class="lead text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, ipsum in blanditiis animi beatae cum tempore eos placeat officiis ab explicabo assumenda vero repellat cumque obcaecati similique quae tenetur labore eum accusantium, quam possimus magnam! Fugiat ducimus dolorum odio accusamus.</p>
      <p>Use <a href="https://goo.gl/maps/hr6aFcwvGRxV2w8s5">our location to find us.</a> if needed</p>
    </div>
  </main>

{% endblock body %}